.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: auto;
}

.image-container h1,
.image-container h2 {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
  opacity: 0.8;
}

.image-container h1 {
  font-size: 2rem;
  font-weight: bold;
}

.image-container h2 {
  font-size: 40px;
  margin-top: 150px;
  font-weight: bold;
}

.button-container {
  position: absolute;
  bottom: 42%;
  left: 10%;
  display: flex;
  gap: 20px;
}

.button-getin,
.button-services {
  padding: 8px 18px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

/* Stats section */
.stats-container {
  display: flex;
  gap: 15px;
  margin-top: -160px;
  padding: 10px;
  justify-content: flex-end;
  text-align: center;
}

.stat-item {
  flex: 1;
  text-align: left;
  max-width: 150px;
  margin: 0 4px;
}

.stat-item h3 {
  font-size: 32px;
  font-weight: 500;
  color: #1E1E1E;
}

.stat-item p {
  font-size: 14px;
  color: #8C959D;
  line-height: 1.4;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .image-container h1 {
    font-size: 12px;
  }

  .image-container h2 {
    font-size: 16px;
    margin-top: 80px;
  }

  .stats-container {
    flex-direction: row;
    justify-content: space-around; /* Space between stat items */
    margin-top: 20px;
    width: 100%; /* Ensure it takes full width below the image */
  }

  .stat-item {
    max-width: 100%;
    margin: 0;
    flex: 1;
  }

  .stat-item h3 {
    font-size: 24px;
  }

  .stat-item p {
    font-size: 12px;
  }
}
